// START APP SHOTS
section.versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Multiple Versions
      .section-description Optional source files with LESS + JADE ready to build with Gulp
    // END SECTION HEADER  
    .row.bottom-space
      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/angularjs.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 AngularJS + Seed 
        p: small AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
        a.btn.btn-sm.btn-default(href="../../backend-angular/") 
          | Live Demo
      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/html5.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Static HTML5 + Seed 
        p: small A project based on jQuery and HTML5 for non Angular users. This version will simplify any integration with many other popular frameworks on the web.
        a.btn.btn-sm.btn-default(href="../../backend-jquery/") Live Demo
      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/angular-material.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Angular Material 
        p: small An implementation of Material Design in Angular.js with a set of reusable, well-tested, and accessible UI components based on the Material Design system.
        a.btn.btn-sm.btn-default(href="../../material/") Live Demo
    .row.bottom-space
      .col-md-3.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/vs.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Visual Studio MVC5 + Seed 
        p: small MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.
        a.btn.btn-sm.btn-default(href="http://themicon-001-site1.smarterasp.net/") Live Demo
      .col-md-3.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/ror.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Ruby on Rails + Seed 
        p: small  Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating your views with unnecessary requests. Heroku ready!.
        a.btn.btn-sm.btn-default(href="https://angle-on-rails.herokuapp.com/") Live Demo
      .col-md-3.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meanjs.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 MeanJS Seed
        p: small A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.
        a.btn.btn-sm.btn-default(href="", disabled="disabled", onclick="alert('Live demo currently not available'); return false;") Live Demo
      .col-md-3.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meteor.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 MeteorJS
        p: small Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.
        a.btn.btn-sm.btn-default(href="", disabled="disabled", onclick="alert('Live demo currently not available'); return false;") Live Demo
    .text-center
      p
        img.wow.zoomIn.animated(src="img/versions/sass.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        | Main projects also includes Sass version !
